<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search service="$ctrl.searchService" result="$ctrl.searchResults"><h5><em>Search Bar</em></h5></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <selected-course course="$ctrl.currentCourse"><h5><em>Course Headline</em></h5></selected-course>
    </div>
    <div class="col-md-5">
      <score-list on-click="$ctrl.selectUser" users="$ctrl.users"><h5><em>shows posted scores</em></h5></score-list>
    </div>
     <div class="col-md-4">
      <nearby-courses on-click="$ctrl.selectCourse" nearbys="$ctrl.nearbys"><h5><em>shows nearby courses</em></h5></nearby-courses>
    </div>
  <div>
</div>