<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search-bar service="$ctrl.fetchService" result="$ctrl.fetchResults"><h5><em>Search Bar</em></h5></search-bar>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <head-course course="$ctrl.currentCourse"><h5><em>Course Headline</em></h5></head-course>
    </div>
    <div class="col-md-5">
      <review-list on-click="$ctrl.selectUser" users="$ctrl.users" reviews="$ctrl.reviews"><h5><em>shows some reviews</em></h5></review-list>
    </div>
     <div class="col-md-4">
     <h3 class="nearby-list">Courses near here</h3>
      <nearby-courses on-click="$ctrl.selectCourse" courses="$ctrl.courses"><h5><em>shows nearby courses</em></h5></nearby-courses>
    </div>
  <div>
</div>