
<li class="course-list-entry media">
<div class="list-item" ng-click="$ctrl.handleClick($ctrl.course)"
  <div class="media-right">
    <img id="entry-card" ng-src={{$ctrl.course.imageUrl}} class="img-responsive img-circle" />

    <div class="media">
      <a href="" class="course-list-entry-title"
        ng-click="$ctrl.handleClick($ctrl.course)"
        >{{$ctrl.course.name}}</a>
    </div>
     <div class="course-list-entry-description">{{$ctrl.course.city}}, {{$ctrl.course.state}}</div>
  </div>
  </div>