<li class="review-list-entry media">
  <!--<div class="media-left">
    <img id="entry-card" class="media-object" ng-src={{$ctrl.course.info.imageUrl}} />
  </div> TODO: show userprofilepic-->
  <div class="media-body">
    <div class="review-list-entry-username"
      >Discer: {{$ctrl.review.username}}</div>
    <div class="review-list-entry-text">{{$ctrl.review.text}}</div>
    <div class="review-rating" ">Rating: {{$ctrl.review.rating}}/5</div>
    <div class="review-score">Scored: {{$ctrl.review.strokes}}</div>
  </div>
</li>