<li class="review-list-entry media">
  <!--<div class="media-left">
    <img id="entry-card" class="media-object" ng-src={{$ctrl.course.info.imageUrl}} />
  </div> TODO: show userprofilepic-->
  <div class="media-body">
    <div class="review-list-entry-username"
      ><u>{{$ctrl.review.username}}</u></div>
    <div class="review-list-entry-text"><em>{{$ctrl.review.text}}</em></div>
    <div class="review-rating" ">Rating: <strong>{{$ctrl.review.rating}}/5</strong></div>
    <div class="review-score">Scored: <strong>{{$ctrl.review.strokes}}</strong></div>
  </div>
</li>