@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
}

:root {
  --main1: #9AF32D;
  --main2: #ADF554;
  --main3: #C3F982;
  --main4: #85F001;
  --main5: #73D100;
}

.navbar {
  background: var(--main1);
  margin-bottom: 0px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

.search-bar {
  border-radius: 1px;
  background: #fff;
}

.search-bar .form-control {
  border-radius: 2px;
  width: 80%
}
.search-bar .btn {
  border-radius: 3px;
  border-color: var(--main2);
  background: var(--main3);
  width: 20%;
  margin-left: -1px;
}

.search-bar .btn:hover {
  border-color: var(--main2);
  background: var(--main2);
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.loading {
  padding-left: 20px;
}

.media-body {
  padding-left: 20px;
}

.headline {
  background-color: var(--main1);
  margin-bottom: 0px !important;
}

#entry-card {
  width: 40%;
  height: 40%;
  background-color: var(--main-color);
}

#head-card {
  width: 80%;
  height: 80%;
}

.nearby-list {
  font-size: 22px;
  padding: 10px;

}

.list-item {
  align-content: center !important;
  width: 90%;
  padding: 20px;
  background-color: var(--main5) !important;
  border-style: solid;
  border-width: 15px !important;
  border-color: var(--main2) !important;
  border-radius: 15px 50px 15px 50px !important;
}

.nav-left {
  background-color: var(--main3);
  border-style: solid;
  border-width: 20px !important;
  border-color: var(--main2) !important;
}

.head-mid {
  padding: 20px;
  background-color: var(--main1) !important;
  border-style: solid;
  border-width: 20px !important;
  border-left-width: 0px !important;
  border-color: var(--main2) !important;
}

.review-list-entry {
  border: 2px solid green;
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 1px;
}

.review-list-entry-username {
  font-size: 30px
}

.review-list-entry-text {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px;
}

.head-course-details {
  margin-top: 15px;
  margin-bottom: 15px;
}

.head-course {
  margin-left: 20px;
}

.head-course-name {
  margin-top: 15px;
}

.head-course-description {
  margin-left: 20px;
  margin-bottom: 15px;
}

.head-course-address {
  font-size: 12px;
  margin-left: 20px;
}

h5 {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
}
